# Tarea 08
## Calculos Flash

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
DF = pd.read_csv("T08Datos.csv")
DF

   Componente      Zi       w      Pc       Tc       Ki
0          CO2  0.009  0.2250  1071.0   547.90   2.0923
1           N2  0.003  0.0400   493.0   227.60  16.3427
2           C1  0.535  0.0104   667.8   343.37   7.1554
3           C2  0.115  0.0980   707.8   550.09   1.2634
4           C3  0.088  0.1524   616.3   666.01   0.3492
5          iC4  0.023  0.1848   529.1   734.98   0.1437
6          nC4  0.023  0.2010   550.7   765.65   0.1062
7          iC5  0.015  0.2223   490.4   829.10   0.0464
8          nC5  0.015  0.2539   488.6   845.70   0.0362
9           C6  0.015  0.3007   436.9   913.70   0.0135
10         C7+  0.159  0.5069   320.3  1139.40   0.0003

### Metodo iterativo Newton-Raphson

In [6]:

# Defining Function
def f(x):
    return x**3 - 5*x - 9

# Defining derivative of function
def g(x):
    return 3*x**2 - 5

# Implementing Newton Raphson Method

def newtonRaphson(x0,e,N):
    print('\n\n*** NEWTON RAPHSON METHOD IMPLEMENTATION ***')
    step = 1
    flag = 1
    condition = True
    while condition:
        if g(x0) == 0.0:
            print('Divide by zero error!')
            break
        
        x1 = x0 - f(x0)/g(x0)
        print('Iteration-%d, x1 = %0.6f and f(x1) = %0.6f' % (step, x1, f(x1)))
        x0 = x1
        step = step + 1
        
        if step > N:
            flag = 0
            break
        
        condition = abs(f(x1)) > e
    
    if flag==1:
        print('\nRequired root is: %0.8f' % x1)
    else:
        print('\nNot Convergent.')

In [9]:
# Input Section
x0 = input('Enter Guess: ')
e = input('Tolerable Error: ')
N = input('Maximum Step: ')

# Converting x0 and e to float
x0 = float(x0)
e = float(e)

# Converting N to integer
N = int(N)


#Note: You can combine above three section like this
# x0 = float(input('Enter Guess: '))
# e = float(input('Tolerable Error: '))
# N = int(input('Maximum Step: '))

# Starting Newton Raphson Method
newtonRaphson(x0,e,N)

Enter Guess: 5
Tolerable Error: 0.000001
Maximum Step: 10


*** NEWTON RAPHSON METHOD IMPLEMENTATION ***
Iteration-1, x1 = 3.700000 and f(x1) = 23.153000
Iteration-2, x1 = 3.058109 and f(x1) = 4.308989
Iteration-3, x1 = 2.871218 and f(x1) = 0.313917
Iteration-4, x1 = 2.855308 and f(x1) = 0.002176
Iteration-5, x1 = 2.855197 and f(x1) = 0.000000

Required root is: 2.85519654

$$ n_T = n_L + n_V \equiv n_L+n_V = 1$$
<br>
$$ z_in_T = x_in_L + y_in_v \equiv x_in_L + y_iun_V = z_i$$
<br>
$$ x_i = \frac{z_i}{n_L+K_in_V}  $$
<br>
$$ y_i = \frac{z_iK_i}{n_L+K_in_V} $$
<br>
$$ \sum{y_i}-\sum{x_i}=0 $$
<br> 
$$ f(n_V) = \sum_{i=1}^{n_c}\frac{z_i(K_i-1)}{n_V(K_i-1)+1}=0 $$

In [4]:
DF

   Componente      Zi       w      Pc       Tc       Ki
0          CO2  0.009  0.2250  1071.0   547.90   2.0923
1           N2  0.003  0.0400   493.0   227.60  16.3427
2           C1  0.535  0.0104   667.8   343.37   7.1554
3           C2  0.115  0.0980   707.8   550.09   1.2634
4           C3  0.088  0.1524   616.3   666.01   0.3492
5          iC4  0.023  0.1848   529.1   734.98   0.1437
6          nC4  0.023  0.2010   550.7   765.65   0.1062
7          iC5  0.015  0.2223   490.4   829.10   0.0464
8          nC5  0.015  0.2539   488.6   845.70   0.0362
9           C6  0.015  0.3007   436.9   913.70   0.0135
10         C7+  0.159  0.5069   320.3  1139.40   0.0003

variables a determinar : $ x_i, n_V ,n_L, y_i  $

1. Estimar numero de moles $ n_V $

In [8]:
DF["A"] = DF["Zi"]*(DF["Ki"]-1)
DF["B"] = DF["Zi"]*(1/DF["Ki"]-1)

<div class="alert alert-block alert-danger">
<b>Just don't:</b> In general, avoid the red boxes. These should only be
used for actions that might cause data loss or another major issue.
</div

In [12]:
print("\t n")

	 n

In [11]:
n = np.array(110)